.starContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.starButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s ease-in-out;
}

/* Эффект увеличения звезды при наведении, только если не readonly */
.starButton:not(.readonly):hover {
    transform: scale(1.2);
}

.readonly {
    cursor: default;
}

.starIcon {
    transition: fill 0.2s, color 0.2s;
    border-color: #A14B11;
    /*border: #A14B11 1px solid;*/
}