/* src/components/TopBar.module.css */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /*background-color: #A68125;*/
    /*background-color: #6C500C;*/
    background-color: #BAB2B5;
    /*background-color: #EDC7B7;*/
    /*color: white;*/
    color: #123C69;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: 900;
}

.logo {
    color: #123C69;
    font-size: 20px;
    font-weight: 1200;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.links a:hover {
    color: #AC3B61; /* Цвет ссылки при наведении */
}

.userSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*  LOGOUT */
.logoutBtn {
    /*background: #ff4757;*/
    background: #AC3B61;
    /*color: white;*/
    color: #EEE2DC;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/*  SEARCH */
.searchContainer {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2px 10px;
    width: 300px;
    transition: background 0.3s;
}

.searchContainer:focus-within {
    background: rgba(255, 255, 255, 0.3);
}

.searchInput {
    background: none;
    border: none;
    color: white;
    padding: 8px;
    width: 100%;
    outline: none;
}

.searchInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.searchButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}