/* src/components/TopBar.module.css */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /*background-color: #A68125;*/
    /*background-color: #6C500C;*/
    /*background-color: #BAB2B5;*/
    background-color: #D2C6D0;
    /*background-color: #814157;*/
    /*background-color: #EDC7B7;*/
    /*color: white;*/
    color: #123C69;
    box-sizing: border-box;
    z-index: 1000;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
    font-size: 20px;
    font-weight: 900;

    box-shadow: 0 4px 12px #3F5B6B; /* тень */
}

.logoBtn {
    color: #123C69;
    font-size: 20px;
    font-weight: 1200;
}

.logoBtn:hover {
    color: #41728F;
    transform: scale(1.2);
    /*font-size: 22px;*/
}

.favoriteBtn {
    /*marginLeft: '10px', color: '#123C69'*/
    margin-left: 10px;
    color: #123C69;
}

.favoriteBtn:hover {
    color: #41728F;
    transform: scale(1.2);
    /*font-size: 22px;*/
}

.myRecipesBtn {
    /*marginLeft: '15px', color: '#AC3B61', fontWeight: 'bold'*/
    margin-left: 15px;
    color: #AC3b61;
    font-weight: bold;
}

.myRecipesBtn:hover {
    color: #4E3786;
    transform: scale(1.2);
}

.links {
    display: flex;
    gap: 50px;
}

.links a {
    /*color: white;*/
    /*color: #814157;*/
    text-decoration: none;
    font-weight: 1200;
}

/*.links a:hover {*/
/*    color: #AC3B61; !* Цвет ссылки при наведении *!*/
/*}*/

.userSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*  LOGOUT */
.logoutBtn {
    /*background: #ff4757;*/
    background: #AC3B61;
    /*color: white;*/
    color: #EEE2DC;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.loginBtn {
    background-color: white;
    color: #123C69;
}

/*  SEARCH */
.searchContainer {
    display: flex;
    align-items: center;
    /*background: rgba(255, 255, 255, 0.2);*/
    background: #DDD7D9;
    border-radius: 20px;
    padding: 2px 10px;
    width: 300px;
    transition: background 0.3s;
    /*color: #41728F;*/
    height: 30px;
}

.searchContainer:focus-within {
    /*background: rgba(255, 255, 255, 0.3);*/
    /*background: #EEE2DC;*/
    background: #EAE8E5;
    /*color: #24678F;*/
}

.searchInput {
    background: none;
    border: none;
    color: #24678F;
    /*color: #862490;*/
    padding: 8px;
    width: 100%;
    outline: none;
}

.searchInput::placeholder {
    /*color: rgba(255, 255, 255, 0.7);*/
    /*color: #6B6A6D;*/
    color: #3F5B6B;
}

.searchButton {
    background: none;
    border: none;
    color: #41728F;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btnAdmin {
    /*marginLeft: '10px', color: '#701332'*/
    margin-left: 10px;
    color: #701332;
}

.btnAdmin:hover {
    color: #4E3786;
    transform: scale(1.2);
}

.btnModerator {
    margin-left: 10px;
    color: #814157;
}

.btnModerator:hover {
    color: #4E3786;
    transform: scale(1.2);
}