.container {
    padding: 20px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-width(100px, 0.5fr));
    gap: 20px;
    margin-bottom: 40px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-width(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.statCard {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid #AC3B61;
}

.statCardItem {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три равные колонки */
    gap: 20px; /* Отступы между колонками */
    border-bottom: 4px solid #AC3B61;
}

.statCardItem .statValueItem {
    /* Стили только для второй колонки (где данные) */
    grid-column: 2; /* Размещаем в колонке №2 */
    /*text-align: center;*/
}

.statValue {
    font-size: 2.5rem;
    font-weight: bold;
    color: #123C69;
}

.statValueItem {
    font-size: 1.1rem;
    font-weight: bold;
    color: #123C69;
    /*margin-left: 50px;*/
}

.statLabel {
    color: #41728F;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.chartsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два графика в ряд */
    gap: 20px;
    margin-top: 30px;
}

.chartContainer {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    min-height: 350px;
}

.chartTitle {
    color: #123C69;
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* Для мобильных устройств делаем один график в ряд */
@media (max-width: 900px) {
    .chartsGrid {
        grid-template-columns: 1fr;
    }
}