.container {
    background-color: #F7F0EC;
    /*padding: 20px;*/
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: -10px;
    border-radius: 12px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 1px;*/
}

.searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 300px;
}

.btnAdd {
    background-color: #74AF3C;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.table th {
    background-color: #123C69;
    color: white;
}

/*  МОДАЛЬНОЕ ОКНО  */
.modalOverlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formGroup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btnSave {
    background-color: #123C69;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}