.pageContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 70px;
}

.title {
    color: #701332;
    border-bottom: 2px solid #D2787A;
    padding-bottom: 10px;
    text-align: center;
}
.noRecipeSector {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
}

.recipesSector {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.rowRecipeBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #F7F0EC;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #D2787A;
    height: 30px;
    box-shadow: 0 14px 40px #814157;
}

.recipeName {
    flex: 2;
    font-weight: bold;
    color: #123C69;
}

.recipeCreateAt {
    flex: 1;
    color: #666;
}

.btnSector {
    display:  flex;
    gap: 10px;
}

.btnApprove .btnReject {
    color: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.btnApprove {
    background-color: #7D8D1E;
}
.btnApprove:hover {
    transform: scale(1.1);
}

.btnReject {
    background-color: #AC3B61;
}

.btnReject:hover {
    transform: scale(1.1);
}