.adminContainer {
    display: flex;
    min-height: calc(100vh - 80px); /* Высота экрана минус TopBar */
    /*min-height: calc(107vh - 80px); !* Высота экрана минус TopBar *!*/
    background-color: #EEE2DC;
}

.sidebar {
    width: 250px;
    /*background-color: #123C69;*/
    background-color: #E9E1E8;
    /*color: white;*/
    color: #123C69;
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    /*position: relative;*/
    /*box-shadow: 10px 0 10px -5px #814157; !* тень справа *!*/
}

/*.sidebar::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: -10px; !* позиция справа от элемента *!*/
/*    width: 10px;*/
/*    box-shadow: 0 0 10px #814157;*/
/*    z-index: 0;*/
/*    background: transparent; !* явное указание прозрачности *!*/
/*    !*z-index: -1; !* позади элемента *!*!*/
/*}*/

.sidebarTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-top: 0;
    font-size: 1.2rem;
}

.navMenu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.4rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    /*color: #F7F0EC;*/
    color: #123C69;
    text-decoration: none;
    transition: background-color 0.2s;
}

.link:hover {
    background-color: rgba(210, 120, 122, 0.2); /* #D2787A с прозрачностью */
}

.activeLink {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    background-color: #AC3B61;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #FFD200; /* Желтая полоска для активного пункта */
}

.mainContent {
    flex-grow: 1;
    padding: 30px;
    background-color: #F7F0EC;
    overflow-y: auto;
}