.container {
    /*margin-top: 60px;*/
    /*margin-left: auto;*/
    margin: 60px auto;
    /*margin: 60px 10px;*/
    /*display: block;*/
    /*padding: 80px 20px 20px 20px;*/
    max-width: 900px;
    /*margin: 0 auto;*/
    padding: 30px 20px;
    color: #123C69;
    background-color: #EEE2DC;
    box-shadow: 0 14px 40px #814157;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    /*justify-content: space-evenly;*/
    align-items: center;
    margin-bottom: 30px;
}

.btnBack {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    color: #AC3B61;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    color: #701332;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.formGroup {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-weight: bold;
    color: #41728F;
    margin-left: 10px;
    margin-top: 10px;
}

.input, .textarea {
    width: 90%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #F7F0EC;
    color: #123C69;
    transition: border-color 0.2s;
    box-shadow: 0 14px 40px #814157;
    margin-left: 10px;
}

.input:focus, .textarea:focus {
    outline: none;
    border-color: #AC3B61;
    background-color: #fff;
    margin-left: 10px;
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

/*  Категории */
.categoriesContainer {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам перепрыгивать на новую строку */
    gap: 15px;
    margin-bottom: 30px;
}

.categoryCard {
    flex: 1 1 250px; /* Карточка стремится занять 250px, но может расширяться */
    background-color: #F7F0EC;
    border: 1px solid #D2787A;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categoryLabelImportant {
    font-size: 0.7rem;
    font-weight: bold;
    color: #AC3B61;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

.categoryLabel {
    font-size: 0.8rem;
    font-weight: bold;
    color: #AC3B61;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

.categorySelect {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #41728F;
    background-color: white;
    color: #123C69;
    cursor: pointer;
    font-size: 14px;
}

.categorySelect:focus {
    border-color: #AC3B61;
    outline: none;
}

.categoryOptions {
    background-color: #EEE2DC;
}

/* --- ДИНАМИЧЕСКИЕ ШАГИ --- */
.sectionTitle {
    border-bottom: 2px solid #D2787A;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #123C69;
}

.sectionTitleSmall {
    border-bottom: 2px solid #D2787A;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #41728F;
    font-size: 1.6rem;
}

.stepRow {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 15px;
}

.stepNumber {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    background-color: #41728F;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 5px;
}

.stepInput {
    flex-grow: 1;
}

.btnRemove {
    background: none;
    border: none;
    color: #AC3B61;
    cursor: pointer;
    padding: 10px;
    margin-top: 2px;
    border-radius: 8px;
}

.btnRemove:hover {
    background-color: rgba(172, 59, 97, 0.1);
}

.btnAdd {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #EEE2DC;
    color: #123C69;
    border: 1px dashed #123C69;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s;
    width: 100%;
    justify-content: center;
}

.btnAdd:hover {
    background-color: #123C69;
    color: white;
}

.btnSave {
    display: block;
    width: 100%;
    background-color: #8E4253;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.2s;
}

.btnSave:hover {
    background-color: #701332;
}

/*  добавление в последний дизайн */
.topGrid {
    display: grid;
    grid-template-columns: 2.2fr 1fr; /* Левая колонка чуть шире */
    gap: 40px;
    align-items: start;
}

.leftCol {
    box-shadow: 0 14px 40px #814157;
}

.rightCol {
    box-shadow: 0 14px 40px #814157;
}

.placeholderBlock {

}

.imagePreview {
    margin-top: 10px;
    margin-left: 80px;
    width: 60%;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imagePreview img {
    height: 100%;
    object-fit: contain;
}

.categoriesScrollArea {
    max-height: 500px; /* Ограничиваем высоту */
    overflow-y: auto;  /* Включаем скролл */
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Стилизация скроллбара */
.categoriesScrollArea::-webkit-scrollbar {
    width: 6px;
}
.categoriesScrollArea::-webkit-scrollbar-thumb {
    background-color: #AC3B61;
    border-radius: 10px;
}

.categoryMiniCard {
    background-color: #F7F0EC;
    padding: 10px;
    border-radius: 8px;
    border-left: 4px solid #41728F;
    box-shadow: 0 4px 10px #814157;
    margin-left: 10px;
    margin-bottom: 10px;
}

.fullWidthSection {
    margin-top: 40px;
}

/*  Ингредиенты     */
.ingredientsTable {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.tableHeader {
    display: grid;
    grid-template-columns: 2fr 100px 120px 40px;
    gap: 15px;
    font-weight: bold;
    color: #41728F;
    padding-left: 5px;
}

.ingredientRow {
    display: grid;
    grid-template-columns: 2fr 100px 120px 40px;
    gap: 15px;
    align-items: center;
}

.ingrSelect, .unitSelect {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #F7F0EC;
    height: 30px;
    font-size: 1rem;
}
.amountInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #F7F0EC;
    font-size: 1rem;
    height: 10px;
}

.btnIconDelete {
    background: none;
    border: none;
    color: #AC3B61;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.btnAddSmall {
    background: none;
    border: 1px dashed #41728F;
    color: #41728F;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.caloriesInfo {

}

.actonRow {
    margin-top: 40px;
    padding-bottom: 50px;
}

.btnSave {

}

.saveIcon {
    margin-right: 10px;
}

/*  Обработка Error*/
.inputError {
    border-color: #BF3030 !important;
    background-color: #fffafa !important;
}

.errorMessage {
    color: #BF3030;
    font-size: 0.85rem;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.errorMessageDesc {
    color: #BF3030;
    font-size: 0.85rem;
    /*margin-top: -260px;*/
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.errorSection {
    border: 1px solid #BF3030;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}